[Unit]
Description=Pinger bot
ConditionPathExists=/gopath/bin/pinger
After=network.target

[Service]
Type=simple
User=youruser
Group=youruser
LimitNOFILE=1024

Restart=on-failure
RestartSec=10

WorkingDirectory=/gopath/bin/
ExecStart=/gopath/bin/pinger --config=pinger --log-level=INFO

[Install]
WantedBy=multi-user.target
